@charset 'UTF-8';

* {
    margin: 0;
    padding: 0;
    cursor: url(imagens/espada_cursor.png), auto;
}

body {
    background-image: url(imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background-color: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    padding: 40px;
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -10px 0px 0px 22px;
}

.relogio{
    display: block;
    margin: auto;
    font-size: 80px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.712);
}